# Ignore compiled files
*.exe
*.o
*.tar.xz
*.mp4

# Ignore settings and cache files
*.pyc
*.out

# Ignore build directories
build/

# Ignore IDE-specific folders
.vscode/

# Some eval folders
frames/
params/

# Env folder
env_sdo/
